.collage {
    display: none;
}

@media (min-width: 1024px) {
    .collage {
        display: grid; 

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
        gap: 5px;
        height: 0;
    }
    .collage > article {
        position: relative;
    }
    .collage > article h2 {
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
        font-size: 0.75em;
        padding: 50px 15px 10px 15px;
        width: 100%;
    }
    .collage > article .preview-title {
        padding: 50px 0 15px 0;
        color: #fff;
    }
    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 4;
        background: #000;
     }
     #item-0 .tag {
        left: 102px;
        top: 2%;
     }
     #item-0 .date {
        top: 2%;
     }
     #item-0 h2 {
        font-size: 1em;
        padding: 80px 20px 10px 20px;
        font-weight: bold;
        line-height: 1.4;
     }
     #item-0 .preview-title {
        padding: 100px 0 20px 0;
     }
     #item-1 {
        grid-row-start: 1;
        grid-column-start: 4;
        width: 200px;
        grid-row-end: 2;
        grid-column-end: 5;
        height: 150px;
        background: #000;
     }
     #item-2 {
        grid-row-start: 1;
        grid-column-start: 5;
        width: 200px;
        grid-row-end: 2;
        grid-column-end: 6;
        height: 150px;
        background: #000;
     }
     #item-3 {
        grid-row-start: 2;
        grid-column-start: 5;
        width: 200px;
        grid-row-end: 3;
        grid-column-end: 6;
        height: 150px;
        background: #000;
     }
     #item-4 {
        grid-row-start: 2;
        grid-column-start: 4;
        width: 200px;
        grid-row-end: 3;
        grid-column-end: 5;
        height: 150px;
        background: #000;
     }
     .collage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.9;
    }
    .collage > article:hover img {
        opacity: 1 !important;
        transition: 0.3s;
    }
    .collage .tag {
        position: absolute;
        top: 3%;
        z-index: 1;
        background: rgb(255, 255, 0, 0.8);
        padding: 1px 6px;
        border-radius: 0 3px 3px 0;
        font-weight: bold;
        font-size: 0.6em;
        left: 102px;
    }
    .collage .date {
        position: absolute;
        top: 3%;
        z-index: 1;
        left: 6px;
        background: rgb(255, 255, 0, 0.8);
        padding: 1px 6px;
        font-size: 0.6em;
    }
}

@media (min-width: 1200px) {
    .collage {
        height: 0;
    }
    #item-1, #item-2, #item-3, #item-4 {
        width: 270px;  
        height: 200px;
    }
    #item-0 h2 {
        font-size: 1.2em;
        padding: 100px 20px 20px 20px;
    }
    #item-0 .tag {
        left: 117px;
    }
    .collage > article h2 {
        font-size: 0.85em;
        padding: 50px 15px 15px 15px;
    }
    .collage .date {
        font-size: 0.7em;
        left: 8px;
    }
    .collage .tag {
        left: 116px;
        font-size: 0.7em;
    }
}