.head {
    display: flex;
    align-items: center;
    background: #ddd;
    min-height: 45px;
    flex-wrap: wrap;
    justify-content: center;
}
.head .rankLink {
    margin: 0 0 0 10px;
}
.head .rankLink:hover {
    text-decoration: underline;
}
.tournament-country .head .left {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}
.tournament-country > .content > .tournamentBlock > .item > .fixtures {
    width: 100% !important;
}
.tournament-country > .head .name {
    display: flex;
    align-items: center;
}
.tournament-country > .head .right {
    display: flex;
    font-size: 0.7em;
}
.tournament-league .head .right ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    justify-content: center;
}
.tournament-league .head .right ul li {
    margin: 0 10px 10px 10px;
}
.head .league-name {
    display: flex;
    align-items: center;
}
.head img {
    margin: 0 8px;
}
.head .slash {
    margin: 0 5px 0 10px;
}
.item .head h3 {
    font-size: 1em;
    display: flex;
    align-items: center;
}
.item .head img {
    margin: 0 15px 0 0;
}
.content ul li a {
    color: rgba(0, 94, 180, 1);
}
.content ul.tournament-list li a:hover {
    text-decoration: underline;
}
.content {
    margin: 20px auto;
}
.content .right {
    border: 2px solid #ccc;
    overflow: hidden;
}
.content .left .head, .content .right .head {
    display: flex;
    justify-content: center;
}
.content ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}
.content ul li:not(.content ul li:first-child) {
    border-top: 2px solid #ccc;
}
.content .tournament-list li > a {
    margin: 0 0 0 10px;
    font-size: 0.85em;
}
.content .left {
    margin: 0 0 30px 0;
}
.content .left .item {
    border: 2px solid #ccc;
}
.content .left .item:not(.content .left .item:first-child) {
    margin: 30px 0 0 0;
}
.content .left ul li {
    height: 35px;
    padding: 0;
}
.content .left ul li > a {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}
.content .left ul li > a:hover {
    background: rgba(0, 94, 180, 0.9);
}
.content .left ul li > a:hover span {
    color: #fff;
}
.content .left ul li a span {
    font-size: 0.85em;
}
/* .right input {
    margin: 10px 0;
    height: 30px;
} */
h2 {
    font-size: 1em;
    display: flex;
    align-items: center;
}
.tournament-country .carousel, .tournament-league .carousel {
    margin: 30px 0;
}
.tournament-country .content > .tournamentBlock > .item > .fixtures ul li {
    margin: 0 !important;
}
.tournament-country .content > .tournamentBlock > .item > .fixtures ul li .right {
    border: 0 !important;
}
.tournament-country .content > .tournamentBlock > .item > .fixtures {
    margin: 0 !important;
    height: auto !important;
}
.tournament-country .content > .tournamentBlock > .item > .fixtures span {
    /* font-size: 0.8em !important; */
}
.tournament-country .content > .tournamentBlock > .item > .fixtures .left span, .tournament-country .content > .tournamentBlock > .item > .fixtures .right span {
    /* font-size: 1.1em !important; */
}
.tournament-country .content > .tournamentBlock > .item > .fixtures .left, .tournament-country .content > .tournamentBlock > .item > .fixtures .right {
    margin: 0 !important;
}


@media (min-width: 434px) {
    .head {
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .tournament-country > .head .right {
        font-size: 1em;
    }
    .head .rankLink {
        margin: 0 0 0 20px;
    }
    .tournament-country .content > .tournamentBlock > .item > .fixtures span {
        /* font-size: 0.9em !important; */
    }
    .tournament-country .content > .tournamentBlock > .item > .fixtures .left span, .tournament-country .content > .tournamentBlock > .item > .fixtures .right span {
        /* font-size: 1.2em !important; */
    }
    .tournament-country .content > .tournamentBlock > .item > .fixtures .left, .tournament-country .content > .tournamentBlock > .item > .fixtures .right {
        width: 80px !important;
    }
}


@media (min-width: 1024px) {
    .head {
        padding-top: 0;
        padding-bottom: 0;
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
    .content .right {
        width: 330px;
    }
    .content .right .head {
        width: 350px;
    }
    .content .left {
        width: 68%;
        margin: 0;
    }
    .content .left ul li a span {
        font-size: 1em;
    }
    .tournament-league .head .right ul {
        margin: 10px 0 0 0;
    }
}