 .standings {
    display: flex;
    justify-content: center;
}
 .standings table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.standings table thead {
    background: rgba(0, 94, 180, 0.8);
}
.standings table thead tr th {
    color: #fff;
}
 .standings table thead, .standings table tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .standings table thead tr, .standings table tbody tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    align-items: center;
    padding: 0 20px 0 10px;
}
.standings table tbody tr {
    border-bottom: 1px solid silver;
}
.standings table tbody .team img {
    margin: 0 5px 0 0;
    height: 20px;
    width: auto;
    max-width: 20px;
}
.standings table .place {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    cursor: default;
    margin: 0 5px 0 0;
}
.standings table .place span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #000 !important;
}
.standings table .place .description {
    color: #fff !important;
}
.standings table .team {
    width: 135px;
    display: flex;
    align-items: center;
}
.tournamentBlock .standings table .team span, .tournamentBlock .standings table .points span, .tournamentBlock .standings table .form span, .standings table .games span, .standings table .win span, .standings table .draw span, .standings table .lose span, .standings table .goals-for span, .standings table .goals-against span {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}
.tournamentBlock .standings .points {
    width: 65px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.tournamentBlock .standings .form {
    width: 65px;
    display: flex;
    justify-content: center;
}
.tournamentBlock .standings .games, .tournamentBlock .standings .win, .tournamentBlock .standings .draw, .tournamentBlock .standings .lose, .standings table .goals-for, .standings table .goals-against {
    width: 40px;
    display: flex;
    justify-content: center;
}
.tournamentBlock .standings .form span {
    min-width: 15px;
    min-height: 15px;
    justify-content: center;
    margin: 0 2px;
    font-size: 0.7em !important;
}

@media (min-width: 410px) {
     .standings table thead,  .standings table tbody {
        width: 320px;
    }
}


@media (min-width: 1024px) {
     .standings {
        height: 200px;
        width: 300px;
    }
     .standings table tbody {
        overflow-y: scroll;
    }
     .standings table thead,  .standings table tbody {
        width: 100%;
    }
    .standings table .place {
        margin: 0;
    }
}


@media (min-width: 1200px) {
     .standings {
        width: 320px;
        height: 230px;
    }
}


@media (min-width: 1300px) {
     .standings {
        width: 350px;
        height: 230px;
    }
}