nav .others {
    position: relative;
}
nav .others img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav .others ul {
    flex-direction: column;
    background: rgba(0, 94, 180, 0.9);
    padding: 0;
    height: auto;
    display: none;
    margin: 0 0 0 -30px;
    width: 100px;
}
nav .others ul li {
    width: 100%;
}
nav .others ul li > * {
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
    padding: 8px 5px;
}
nav .others:hover {
    background: rgba(0, 94, 180, 1);
}
nav .others:hover ul {
    display: flex;
}
nav .others:hover img {
    display: none;
}


@media (min-width: 700px) {
    nav .others .transfer-news, nav .others .transfer-transfers {
        display: none;
    }
    nav .others ul li > * {
        padding: 8px 10px;
        font-size: 0.9em;
    }
}