* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container {
    margin: auto;
}
.headerMain {
    width: 100%;
}
main .wrap {
    padding: 5px 10px;
}
body {
    background: #EDEFF4;
}

@media (min-width: 1024px) {
    .container {
        width: 1000px;
        display: flex;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        display: flex;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1300px;
        display: flex;
    }
}