* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    text-underline-offset: 3px;
    height: auto;
}
body {
    background: #EDEFF4;
}
.container {
    margin: auto;
}
.headerMain {
    width: 100%;
}
main {
    margin: 110px 0 0 0;
}
main .wrap {
    padding: 5px 10px;
}
li {
    list-style: none;
}
.head {
    min-height: 45px;
    background: #ddd;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.slick-slider, .slick-list, .slick-track, .slick-slide {
    height: 100%;
}
::-webkit-scrollbar { /* main scrollbar */
    width: 3px !important;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 0 !important;
    background: rgba(0, 94, 180, 0.8) !important; 
}
.tag:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}
section > .head {
    border-left: 5px solid rgba(0, 94, 180, 0.8);
}
section .head h2 a, section .head h3 a, .head a {
    color: rgba(0, 94, 180, 0.9);
}
section .head h2, section .head h3 {
    color: rgba(0, 94, 180, 0.9);
    font-size: 1em;
}
section .head h2 a:hover, section .head h3 a, .head a:hover {
    text-decoration: underline;
}
.newsFeeds, .broadcasts-tv-schedule, .tags-transfers, .uefa-fifa-ranks, .photo-gallery {
    margin: 50px 0 0 0;
}
.no-data {
    text-align: center;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px 20px;
}

@media (min-width: 1024px) {
    .container {
        width: 1020px;
        display: flex;
    }
    main {
        margin: 170px 0 0 0;
    }
    .head {
        justify-content: flex-start;
    }
    .newsFeeds, .broadcasts-tv-schedule, .tags-transfers, .uefa-fifa-ranks {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        display: flex;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1300px;
        display: flex;
    }
}