* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    text-underline-offset: 3px;
    height: auto;
}
body {
    background: #EDEFF4;
    height: 1000vh;
}
.container {
    margin: auto;
}
.headerMain {
    width: 100%;
}
main {
    margin: 110px 0 0 0;
}
main .wrap {
    padding: 5px 10px;
}
li {
    list-style: none;
}
.head {
    min-height: 45px;
    background: #ddd;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 1024px) {
    .container {
        width: 1020px;
        display: flex;
    }
    main {
        margin: 170px 0 0 0;
    }
    .head {
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        display: flex;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1300px;
        display: flex;
    }
}