.broadcasts .wrap {
    margin: 10px 0 0 0;
}
.broadcasts .wrap .items {
    width: 100%;
    padding: 0 5px;
}
.broadcasts .wrap .items:hover {
    background: rgba(0, 94, 180, 0.8);
    transition: 0.2s;
}
.broadcasts .wrap .items:hover a span {
    color: #fff;
}
.broadcasts .wrap .items a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
    padding: 15px 0;
}
.broadcasts .wrap .items .center {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
}
.broadcasts .wrap .items .center span {
    font-size: 0.7em;
    margin: 2px 0;
    width: 120px;
    text-align: center;
}
.broadcasts .wrap .items .left span, .broadcasts .wrap .items .right span {
    width: 55px;
    font-size: 0.7em;
}
.broadcasts .wrap .items .left span {
    text-align: left;
}
.broadcasts .wrap .items .right span {
    text-align: right;
}
.broadcasts .wrap .items .left, .broadcasts .wrap .items .right {
    display: flex;
    align-items: center;
    width: 100%;
}
.broadcasts .wrap .items .left {
    justify-content: flex-start;
}
.broadcasts .wrap .items .right {
    justify-content: flex-end;
}
.broadcasts .wrap .items .left img {
    margin: 0 8px 0 0;
}
.broadcasts .wrap .items .right img {
    margin: 0 0 0 8px;
}
.broadcasts .wrap .items .status.live {
    color: red;
}
.broadcasts .wrap .items .status.pending {
    color: gray;
}


@media (min-width: 1024px) {
    .broadcasts {
        width: 40%;
    }
}